.container{
    max-width: 600px;
    align-items: center;
    margin : auto;
    padding: 20px;
    
}
h1{
    text-align: center;
}
form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
input , button {

}
table{
    width: 100%;
    border-collapse: collapse;
}
th , td{
    text-align: left;
    padding: 8px;
}